<p>
    La cantidad  {{myShoppingCart.length}}
</p>
<p>
    Total: ${{total}}
</p>
<p>
    Today: {{today | date:'medium'}}
</p>
<p>
    Today: {{today | timeAgo}}
</p>
<p>
    Otra : {{date | date:'dd/MM/yyyy'}}
</p>
<p>
    Otra : {{date | timeAgo}}
</p>
<p>
    {{'hOLA SAvanT'| uppercase}}
</p>
<p>
    {{'Hola Savant'| changeVowels | uppercase}}
</p>
<div class="products--grid">
<app-product 
[product]="product" 
*ngFor="let product of products"
(addedProduct)="onAddToShoppingCart($event)"
></app-product>
</div>
